# Configuration Supabase
REACT_APP_SUPABASE_URL=https://your-dashboard-supabase-url.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your-dashboard-supabase-anon-key

# Configuration Stripe PRODUCTION
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_live_51Rl4vFGCHUBcrkOY5T3ONAYU8RJy8SdavOIyGsTTCKbNkayR5alxI4UZWPDazZiYI4aqyw5j0Q9e6Yn8J23uhu9t00fy5KUGzb
REACT_APP_BACKEND_URL=http://localhost:3001

# Configuration OpenCage Geocoding
REACT_APP_OPENCAGE_API_KEY=9578b3c12dc144599d09c022ea42b362

# Configuration APLO
REACT_APP_APLO_SUPABASE_URL=https://your-aplo-supabase-url.supabase.co
REACT_APP_APLO_SERVICE_ROLE_KEY=your-aplo-service-role-key 